<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width"></meta>
        <title>TEST</title>
        <script src="https://unpkg.com/vue@3.2.24/dist/vue.global.prod.js"></script>
    </head>
    <body>
        <div id="app">
            <test-comp :somenum="3+15" somestr="world"></test-comp>

            <p></p>
            <div v-for="(value, name, index) in dict">
                name: {{ name }} / value: {{ value }} / index: {{ index }}
            </div>

            <p></p>
            <div v-for="(product, id) in products">
                id: {{ id }} / color: {{ product.color }} / quantity: {{ product.quantity }}
            </div>
        </div>
        <!-- Import App -->
        <script src="test.js"></script>
        <!-- Mount App -->
        <script>
            const mountedApp = app.mount('#app')
        </script>
    </body>
</html>